:root{
  --dark: #191919;
  --gray: #55534E;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  font-family: 'Inter', sans-serif;
}

.container{
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 20px;
}

.header{
  position:fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__logo{
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 50px;
  z-index: 3;
}
.header__logo img{
  height: 40px;
  padding: 5px;
}

.header:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: gainsboro;
  z-index: 2;
}

.header__body{
  position: relative; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list{
  display: flex;
  position: relative;
  z-index: 3;
}
.header__list li{
  list-style: none;
  margin-left: 20px;
  
}
.header__link{
  text-decoration: none;
  color: #55534E;
  font-size: 20px;
  font-weight: 400;
}

main{
  padding-top: 60.5px;
}

.header_title{
 margin-top: 50px;
 font-weight: 600;
 height: 20vh;
 color: var(--dark);
}

.header_title span{
  color: #55534E;
  font-weight: 500;
}

.header__burger{
  display: none;
}

.post{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;
}

.post img{
  width: 40vw;
  height: 40vw;
}

.post_title{
  font-size: 30px;
  line-height: normal;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--dark);
}

.post_text{
  font-size: 20px;
  line-height: 32px;
  margin: 15px 0px;
  font-weight: 400;
}

.post_link{
  color: #191919;
}

.break-line-act{
  display: none;
}


.form_title{
  font-size: 36px;
  font-weight: 400;
}

.footer_content{
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.footer_info a{
  color:#000;
  text-decoration: none;
  font-size: 36px;
}

.form{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 160px;
}



.form input {
  padding: 10px 0;
  border: none;
  border-bottom: dashed 1px #191919;
  background: transparent;
}

.submit{
  margin-top: 15px;
  background: #191919;
  border: 0;
  padding: 15px;
  color: #ffff;
  font-size: 18px;
  cursor: pointer;
}


@media screen and (max-width: 767px) {
  .header__burger{
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger:before,
  .header__burger:after{
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger:before{
    top: 0;
  }
  .header__burger:after{
    bottom: 0;
  }
  .header__burger span{
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px
  }
  .header__burger.active:before{
    transform: rotate(45deg);
    top: 9px
  }
  .header__burger.active:after{
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span{
    transform: scale(0);
  }
  .header__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 320px;
    background-color: rgba(239, 239, 239, 0.987);
    padding: 70px 0 0 0;
    transition: 0.3s;
  }
  .header__menu.active{
    top:0;
  }
  .header__list{
    display: block;
    text-align: center;
  }
  .header__list li{
    list-style: none;
    margin-bottom: 40px;
    font-size: 24px;
  }

  /*основа*/

  .header_title{
    height: 100vh;
  }
  
  .post{
    height: 100%;
    flex-direction: column;
  }

  .post img{
    height: 100%;
    width: 100%;
  }

  .break-line{
    display: none;
  }

  .break-line-act{
    display: inline;
  }


  .footer_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-bottom: 50px;
  }

  .form_title{
    font-size: 30px;
  }

  .form{
    padding: 32px 0;
  }

  .footer_info a{
    font-size: 30px;
  }

  /*body.lock{
    overflow: hidden;
  }*/

  .player_info{
    font-size: 14px;
  }
  #current{
    font-size: 12px;
  }
}

.player-bar{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  background-color: gainsboro;
}

.player{
  display: grid;
  grid-template-columns: 10px 1.5fr 48px;
  grid-gap: 16px;
}

#progress {
  margin-top: 10px;
  display: blcok;
  width: var(--progress,100%);
  background-color:#000;
  transition: all 1s linear;
  height: 2px;
}

#current{
  width: 60px;
  text-align: center;
}